.dispositions-view .disp-item span {
    white-space: normal;
    text-overflow: ellipsis;
    overflow: hidden;
}
.remember_station_wraper {
  margin-top: 18px;
  padding-left: 5px;
  display: none;
}