.dispositions-view .disp-item span {
    white-space: normal;
    text-overflow: ellipsis;
    overflow: hidden;
text-decoration: underline;
color: red;
}
  margin-top: 18px;
  padding-left: 5px;
    display: none;
}
